{% extends 'layout.html' %}
{% block script %}
  {% parent %}
  <script src="scripts/aframe-text-component/dist/aframe-text-component.min.js"></script>
{% endblock %}

{% block content %}

<a-scene>

  <a-assets>
    <img id="fsn" src="/images/fsn.png">
    <img id="selector" src="/images/selector.png">
    <img id="jsn" src="/images/jurassic-file-system.jpg">
  </a-assets>

  <a-sky color="black"></a-sky>

  <!-- Reference Images for Creative Inspiration -->
  <a-image visible="false" src="#fsn" position="-2 5 1" rotation="0 45 0"></a-image>
  <a-image visible="false" src="#jsn" position="2 5 1" rotation="0 -45 0" scale="1.6 .9 0"></a-image>


  <a-camera position="2 4 6" rotation="-36.440115770320375 31.97104496829994 0">

    <a-entity cursor="fuse: true; maxDistance: 30; timeout: 1500"
              position="0 0 -1"
              scale=".01 .01 .01"
              geometry="primitive: ring"
              material="color: red; shader: flat">
  </a-camera>

  <a-box name="directory bounding box" position="-1 0 -1" scale="1 1 1" height="1" width="{{ bounding_box_width }}" depth="{{ bounding_box_depth }}" color="gray"></a-box>
  <a-entity rotation="0 0 0" text="text: {{ path }}" position="{{ topleft_pos['x'] }} 0 {{ topleft_pos['z'] + bounding_box_depth }}" material="color: red"></a-entity>
  {% for row in files_array %}
    {% set row_loop_index0 = loop.index0 %}
    {% for column in row %}
    <a-box id="filebox-row1-col{{ loop.index }}" {% if column.dir %}onClick="location.href='?path={% if req_query_path %}{{ req_query_path}}/{% endif %}{{ column.filename }}'"{% endif %} filename="{{ column.filename }}" position="{{ topleft_pos['x'] + (loop.index0 * FILE_BOX_DELTA) }}, {{ topleft_pos['y'] + 1 }}, {{ topleft_pos['z'] + (row_loop_index0 * FILE_BOX_DELTA) }}" scale=".6 .7 .6" color="{% if column.dir %}purple{% else %}orange{% endif %}">
      <a-event name="mouseenter" color="yellow"></a-event>
      <a-event name="mouseleave" color="{% if column.dir %}purple{% else %}orange{% endif %}"></a-event>
      <a-animation begin="click" attribute="rotation" to="0 360 0"
       -                       easing="linear" dur="2000" fill="backwards"></a-animation>
    </a-box>
    <a-entity rotation="0 0 0" text="text: {{ column.filename }}" position="{{ topleft_pos['x'] + (loop.index0 * FILE_BOX_DELTA) - FILE_BOX_WIDTH / 2 }}, {{ topleft_pos['y'] + 1.75 }}, {{ topleft_pos['z'] - 0.25 + (row_loop_index0 * FILE_BOX_DELTA) + 0.5 * loop.index0 / columns * FILE_BOX_WIDTH }}" scale=".25 .25 .25" material="color: red"></a-entity>
    {% endfor %}
  {% endfor %}

  <a-image src="#selector" position="{{ topleft_pos['x'] + FILE_BOX_DELTA }} .5 {{ topleft_pos['z'] + FILE_BOX_DELTA}}" rotation="90 0 0" width="{{ bounding_box_width }}" height="{{ bounding_box_depth }}" scale="1.75 1.75 1.75">
    <a-animation attribute="scale"
                   to="2 2 2"
                   dur="3000"
                   fill="forwards"
                   repeat="indefinite"></a-animation>
  </a-image>
</a-scene>

{% endblock %}
