<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}File System Navigator{% endblock %}</title>
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="favicon.ico">
  {% block script %}
  <script src="javascripts/aframe-v0.2.0-rc1.js"></script>
  <!-- <script src="https://aframe.io/releases/latest/aframe.min.js"></script> -->
  {% endblock %}
  {% block style %}
  <link rel="stylesheet" href="/stylesheets/style.css">
  {% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
